.about {
  padding: 2rem 2rem;
}

.about-intro {
  font-family: neue-haas-grotesk-text, sans-serif;
}

.about-selected-works {
  padding-bottom: 4rem;
}

.about-padding,
.about-section-padding {
  padding-bottom: 2rem;
}

.about-link {
  padding-bottom: 0.3rem;
}

a.link-color {
  color: #0000ff;
}

.list-padding {
  padding-bottom: 3rem;
}

.list-header-padding,
.list-item-padding {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 50rem) {
  .about {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 0 1rem;
    padding: 2rem 2rem;
  }

  .about-selected-works-link {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
  }

  .about-intro {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .about-potrait {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
  }

  /* .about-more-info {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  } */
  .about-education {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .about-experience {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
  }

  .about-links-list {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }
}

@media only screen and (min-width: 70rem) {
  .about {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto, 1fr);
  }

  .about-selected-works-link {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
  }

  .about-intro {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }

  .about-potrait {
    grid-column: 7 / 13;
    grid-row: 2 / 5;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  /* .about-more-info {
    grid-column: 3 / 7;
    grid-row: 3 / 5;
  } */

  .about-education {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .about-experience {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }

  .about-links-list {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
}
